body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16x; /* 16px = 12pt */
    margin: 5px 15px 5px 15px ; /* margen arriba izquierda derecha*/
    padding: 0;/*es la distancia entre el contenedor o de donde este*/
    background-color: oklch(69.283% 0.23291 142.362);
}


h1,h2,h3,h4,h5,h6 {

     color: blueviolet; /* Aca le elegimos el color que deseamos poner a nuestro texto dependiendo de los (h)*/
     font-weight: 700 ;/* Esto es lo negro o que quiero que sea mi letra*/
     text-align: center;/* Establece la alineacion del texto, si esta alineado, centrado, etc*/

 }   


#NAHUEL{
    background-color: blanchedalmond;

}

#SOBRE_MI{

background-color: chartreuse;

}

